w_19/
w_21/
w_23/
w_25/
w_39/
w_41/
reindeer/
kallisto/
salmon/
data/Test_*
*npy

Results_SEQC_Data_set.txt
Results_SEQC_Data_set.txt
Results_Large_Data_set.txt
Results_Large_Data_set_FPR03.txt
Boxplot.png
Boxplot_Cov.png
Boxplot_03.png
Boxplot_Cov_03.png
